body {
  background-image: url("/static/images/result-bg.jpg"); /* Cover the entire page */
  background-size: cover;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Keep the background fixed during scrolling *          /* Full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0;
}

.header {
  background-color: rgb(227, 211, 129);
  height: 8vh;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding-top: 0.3em;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.result-bar {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.result-content {
  /* border: 1px solid red; */
  margin-top: 3em;
  padding-left: 3em;
  font-size: x-large;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
